#homejumbotron {
  height: 650px;
  background-image: url("/img/bg-header-star.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  top: 0px;
  margin-top: 0px;
  padding-top: 0px;

  .homeContent {
    padding-top: 20%;
    padding-left: 35%;
  }

  h1 {
    margin: auto;
    color: #ffffff;
    font-size: 60px;
    font-weight: bolder;
  }

  .signinBtn {
    margin-left: 0;
    position: center;
    width: 120px;
    font-size: 25px;
    margin-top: 20px;
  }
  .signupBtn {
    margin-right: 0;
    position: center;
    width: 120px;
    font-size: 25px;
    margin-top: 20px;
  }
}
